In [1]:
import sys
print(sys.version)

3.13.0 (tags/v3.13.0:60403a5, Oct  7 2024, 09:38:07) [MSC v.1941 64 bit (AMD64)]

In [2]:
print("Hello")

Hello

In [5]:
x = 4
y = "johon"
print(x , y)

4 johon

In [6]:
x = range(10)

In [9]:
print(type(x))

<class 'range'>

In [11]:
x = True 
print(type(x))

<class 'bool'>

In [12]:
x = b"Hello"

In [15]:
print(type(x))

<class 'bytes'>

In [19]:
x = bytearray(5)
print(type(x))

<class 'bytearray'>

In [20]:
x = frozenset({"apple", "banana", "cherry"})

In [23]:
print(type(x))

<class 'frozenset'>

In [25]:
x = ("apple", "banana", "cherry")
print(type(x))

<class 'tuple'>

In [29]:
x = memoryview(bytes(5))
print(type(x))

<class 'memoryview'>

In [33]:
x = None
print(type(x))

<class 'NoneType'>

In [34]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [35]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [38]:
print(x)
print(y)
print(z)

35000.0
120000.0
-8.77e+101

In [48]:
import random
print(random.randrange(2, 19))

3

In [50]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [51]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [52]:
a

'Lorem ipsum dolor sit amet,\nconsectetur adipiscing elit,\nsed do eiusmod tempor incididunt\nut labore et dolore magna aliqua.'

In [53]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [55]:
txt = "The best things in life are free!"
print("best" not in txt)

False

In [56]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [57]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [62]:
a = "hello world!"
print(type(a.encode(encoding="utf-8")))

<class 'bytes'>

In [63]:
a = "       hello            world!             "

In [65]:
a.strip()

'hello            world!'

In [70]:
a = "Hello, World!, 8"
print(a.split(", "))

['Hello', 'World!', '8']

In [72]:
age = 36
txt = f"KeyboardInterrupt"
print(txt)

KeyboardInterrupt

In [73]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [79]:
price = 59
txt = f"The price is {price:.4f} dollars"
print(txt)

The price is 59.0000 dollars

In [83]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [94]:
txt = "Hello \x25 \x25 !"
print(txt)

Hello % % !

In [96]:
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False

In [102]:
print(3^10)

9

In [103]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [104]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newfruits = []
for x in fruits:
  if 'a' in x:
    newfruits.append(x)
print(newfruits)

['apple', 'banana', 'mango']

In [106]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newfruits = []
[x for x in fruits if "a" in x]

['apple', 'banana', 'mango']

In [107]:
['hello' for x in fruits]

['hello', 'hello', 'hello', 'hello', 'hello']

In [108]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [109]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [110]:
t = (1, 2, 3)
t = t * 2

In [111]:
t

(1, 2, 3, 1, 2, 3)

In [112]:
tuple1 = ('a', 'b' , 'c')
tuple2 = (1, 2, 3)
tuple3 = tuple2 + tuple1
print(tuple3)

(1, 2, 3, 'a', 'b', 'c')

In [113]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [114]:
A = list( map(int, input().strip().split(" ")))
A

[2, 3, 5, 6, 7]

In [1]:
s = "anagrannn"
counts = {'a': 3, "n": 2}
for i in range(len(s)):
  pass
counts.get('a', 0)

3

In [6]:
num = [2, 2, 1, 3]
target = 4
def twsum():
  prevMap = {}
  for i, n in enumerate(num):
    diff = target - n
    if diff in prevMap:
      return [prevMap[diff], i]
    prevMap[n] = i
  return

In [7]:
print(twsum())

[0, 1]